.hcFacetReset {
float: right;
}

.hcClickable {
color: #0087d4;
cursor: pointer;
display: inline-block;
margin-bottom: 16px !important;
}

.hcFacetValues {
margin-right: 6px;
}

.detLabel {
font-weight: bold;
}

.galogo {
height: 20px;
}

.navImage{
display:inline-block;
height: 28px;
width: 28px;
border: 1px solid #333;
padding: 2px;
margin-left: 8px;
cursor: pointer;
}

.navImage img {
width: 24px;
height: 24px;
}

.browseTools{
display: inline-block;
position: absolute;
right: 60px;
top: 200px;
text-align: right;
}

.hcInvertedItems{
background-color: #eeeeee;
padding: 4px 0 0 14px;
}